<h2>Edit Subscriptions</h2>
<div class="subEditor">
  <table>
    <tr>
      <form name="sub_editor" method="post" action="/subs/">
        <input type="hidden" name="action" value="add">
        <td style="width:100%;"><input type="text" name="sub" style="width:100%;"></td>
        <td><input type="submit" value="add"></td>
      </form>
    </tr>
  </table>
</div>
