<br>
<center><div style="font-size: 24pt;">Listing <b>the top 50 posts</b> from <b>across the board</b> ordered by <b>last updated</b></div></center>
<br>
<% $db[:posts].where(:in_reply_to => nil).reverse_order(:last_update).limit(50).each do |post| %>
<%= erb :post_overview, :locals => { :post => post } %>
<br>
<% end %>
