<!DOCTYPE html>
<html>
  <head>
    <title><%= $config[:board_name] %></title>
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
    <div id="navbar">
      <a href="/"><div id="navbarButton"><b><%= $config[:board_name] %></b></div></a>
      <a href="/new_post/"><div id="navbarButton">New Post</div></a>
      <a href="/me/"><div id="navbarButton">Me</div></a>
    </div>
    <%= yield %>
  </body>
</html>
