<% csrf_token = $db[:userconfig].where(:user => @user, :key => 'csrf_token').first[:value] %>
<h2>Preferences</h2>
<b>Userhash: </b><%= @user %><br>
<h3>Alias</h3>
<b>Current alias: </b><%= h @alias %><br>
<form name="alias_change_form" method="post" action="/prefs/"><input type="hidden" name="csrf_token" value="<%= csrf_token %>"><input type="hidden" name="action" value="change_alias"><b>Change alias: </b><input type="text" name="new_alias"><input type="submit" value="Change"></form>
<h3>Front page</h3>
<a href="/subs/">Edit subscriptions</a>
