.navbar {
  left: 0px;
  top: 0px;
 
  width: 100%;
  height: 42px;

  color: #ffffff;
  background-color: #CC342D;
  text-decoration: none; 
}

.navbarBlock {
  padding-left: 16px;
  padding-right: 16px;
  height: 100%;

  float: left;
  line-height: 42px;
  font-weight: bold;
}

.navbarButton {
  padding-left: 16px;
  padding-right: 16px;
  height: 100%;

  float: left;
  line-height: 42px;
}

.navbar a,
.navbar a:link,
.navbar a:visited {
  color: #fff;
}

.navbarButton:hover {
  background-color: #CC5954;
}

.content {
  padding: 10px;
}

.post {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #ffaba9;
  font-size: 11pt;
}

.postContent {
  font-family: monospace, courier;
  font-size: 11pt;
}

.postUserhash {
  float: right;
  font-size: 8pt;
  color: #888;
}

.postButtons a {
  text-decoration: none;
  color: #CC342D;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

textarea {
  font-family: monospace, courier;
  font-size: 10pt;
}
